#inner-box{
    height: 250px;
    width: 250px;
    border-width: 50px;
    border-style: solid;
    border-color:blueviolet;
    background-color: aquamarine;
}
#outer-box{
    background-color: black;
    height: 300px;
    padding: 50px;
    width: 300px;
}
.bg-img{
    width: 80%;
    border-radius: 10%;
    border: 5px solid blue;
}