*{
    margin: 0;
    padding: 0;
}
body{
    color: rgb(17, 0, 255);
    background: #39E08A;
}
p{
    color: rgb(0, 0, 0);
}
.title{
    font-size: 25px;
}
h1{
    text-shadow: 5px 5px 5px #ff004f;
}
p{
    width: 300px;
    word-wrap: break-word;
}
div{
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgb(44, 73, 153);
    height: 30px;
    text-align: center;
    background:#ff004f;
}
#demo01{
    margin-top: 10px;
    border: 5px solid black;
    padding: 20px;
    background-color: #456789;
    background-image: url(https://cdn.images.express.co.uk/img/dynamic/entities/590x350/24.jpg);
    background-origin: content-box;
}
.box1{
    width: 250px;
    height: 50px;
    border: 10px solid #ff0;
    margin: 20px;
    text-align: center;
    padding: 80px;
    font-size: 30px;
    box-sizing: content-box;
}
.box2{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: 5px solid #2F13DE;
    padding: 80px;
    box-sizing: border-box;
}